body {
    /* background-color: #90d726;
    color: whitesmoke; */
    margin: 0;
    /* background-image: url("../assets/plaine.jpg"); */

    /* margin: 0; 
    padding: 0; 
    height: 100vh; 
    background-image: url('../assets/background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;  */
}